@import "../../styles/functions.scss";

.input {
  width: 100%;
}

.input__label {
  display: block;
  font-weight: 500;
  margin-bottom: toRem(4px);
}

.input__field {
  width: 100%;
  font-size: toRem(16px);
  border-radius: toRem(8px);
  height: toRem(44px);
  padding: 0 toRem(16px);
  border: solid toRem(1px) clr(smoke);
  outline: none;
}
