@import "../../styles/functions.scss";

.button {
  width: 100%;
  height: toRem(44px);
  border-radius: toRem(8px);
  font-weight: 500;
  padding: 0 toRem(16px);
  font-size: toRem(16px);
  color: clr(light);
  background-color: clr(primary);

  &--outlined {
    color: clr(primary);
    background-color: transparent;
    border: solid toRem(1px) clr(primary);
  }
}
