@import "../../styles/functions.scss";

.textarea {
  width: 100%;
}

.textarea__label {
  display: block;
  font-weight: 500;
  margin-bottom: toRem(4px);
}

.textarea__field {
  width: 100%;
  font-size: 1toRem(6px);
  border-radius: toRem(8px);
  padding: toRem(8px) 1toRem(6px);
  resize: vertical;
  border: solid toRem(1px) clr(smoke);
  outline: none;
}
