$colors: (
    "light": #ffffff,
    "primary": #1264fb,
    "smoke": #e4e5e6,
    "darkSmoke": #888e92,
    "dark": #181a1b
);

$screens: (
    "xxxl": 1536,
    "xxl": 1440,
    "xl": 1280,
    "lg": 1024,
    "md": 768,
    "sm": 640
);

$base-font-size: 16px;
