@import "../../styles/functions.scss";
@import "../../styles/mixins.scss";

.header__wrapper,
.nav__lists {
  display: flex;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header__wrapper {
  justify-content: space-between;
  padding: toRem(24px);
  height: toRem(64px);

  @include screen(sm) {
    padding: 0 toRem(24px);
  }
}

.nav__close {
  position: absolute;
  right: 20px;
  display: block;

  @include screen(sm) {
    display: none;
  }
}

.nav__lists {
  gap: toRem(24px);
  padding: 24px 0;
  list-style: none;
  flex-direction: column;

  @include screen(sm) {
    padding: 0;
    align-items: center;
    flex-direction: row;
  }
}

.header__hamburger {
  display: block;

  @include screen(sm) {
    display: none;
  }
}

.header__nav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100vh;
  padding: 24px;
  background-color: clr(light);

  @include screen(sm) {
    left: unset;
    top: unset;
    background-color: unset;
    position: unset;
    height: unset;
    padding: unset;
    width: unset;
  }
}

.nav__item,
.header__logo-link,
.nav__item-login {
  transition: all .3s cubic-bezier(0.83, 0, 0.17, 1);
}

.nav__item,
.header__logo-link,
.nav__item-login {
  font-weight: 700;
  color: clr(dark);
  text-decoration: none;
}

.nav__item,
.header__logo-link {
  &:hover, &--active {
    color: clr(primary);
  }
}

.header__logo-link {
  display: none;

  @include screen(sm) {
    display: block;
  }
}

.header__logo {
  align-self: center;
}

.nav__item-login {
  display: block;
  font-size: toRem(12px);
  padding: toRem(6px) 0;
  width: 100%;
  text-align: center;
  border-radius: toRem(8px);
  color: clr(primary);
  border: solid toRem(1px) clr(primary);

  &:hover, &--active {
    color: clr(light);
    background-color: clr(dark);
    border-color: clr(dark);
  }

  @include screen(sm) {
    width: toRem(110px);
  }
}


