@import "../../styles/functions.scss";

.header__wrapper,
.nav__lists {
  display: flex;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header__wrapper {
  justify-content: space-between;
  padding: 0 24px;
  height: 64px;
}

.nav__lists {
  gap: 24px;
  padding: 0;
  list-style: none;
}

.nav__item,
.header__logo-link,
.nav__item-login {
  transition: all .3s cubic-bezier(0.83, 0, 0.17, 1);
}

.nav__item,
.header__logo-link,
.nav__item-login {
  font-weight: 700;
  color: clr(dark);
  text-decoration: none;
}

.nav__item,
.header__logo-link {
  &:hover, &--active {
    color: clr(primary);
  }
}

.nav__item-login {
  display: block;
  font-size: 12px;
  padding: 6px 0;
  width: 110px;
  text-align: center;
  border-radius: 8px;
  color: clr(primary);
  border: solid 1px clr(primary);

  &:hover, &--active {
    color: clr(light);
    background-color: clr(dark);
    border-color: clr(dark);
  }
}


