@import "../../styles/functions.scss";
@import "../../styles/mixins.scss";

.trial {
  display: flex;
  min-height: 100vh;
}

.trial__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  @include screen(lg) {
    flex-direction: row;
  }
}

.trial__sidebar {
  padding: toRem(64px) toRem(16px) 0 toRem(16px);
  border-right: solid toRem(1px) clr(smoke);
  height: 100vh;
  width: 20%;

  h3 {
    display: none;

    @include screen(md) {
      display: block;
    }
  }

  @include screen(md) {
    padding: toRem(64px) toRem(30px) 0 toRem(30px);
  }
}

.sidebar__nenu {
  list-style: none;
  padding: 0;

  button {
    font-size: toRem(16px);
    display: flex;
    gap: 8px;
    margin: 0 auto;

    @include screen(md) {
      margin: unset;
    }
  }

  button span {
    display: none;

    @include screen(md) {
      display: inline;
    }
  }

  li {
    margin-bottom: toRem(20px);

    @include screen(md) {
      margin-bottom: toRem(14px);
    }
  }
}

.trial__main {
  padding: toRem(24px);
  width: 80%;

  @include screen(lg) {
    padding: toRem(64px) toRem(80px) 0 toRem(80px);
  }
}

.profit__prediction {
  color: clr(primary);
}

.analytic__summary {
  margin-top: toRem(40px);
  display: flex;
  gap: toRem(40px);
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  @include screen(lg) {
    flex-direction: row;
  }
}

.analytic__box {
  flex: 1;
  width: 100%;
  border: solid toRem(1px) clr(smoke);
  padding: toRem(12px);
  border-radius: toRem(16px);
  display: flex;
  gap: toRem(24px);

  @include screen(lg) {
    width: unset;
  }
}

.analytic__icon {
  width: toRem(64px);
  height: toRem(64px);
  border-radius: toRem(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: clr(primary);

  svg {
    width: toRem(40px);
    height: toRem(40px);
  }
}

.analytic__detail {
  align-self: center;
}

.analytic__name {
  margin: 0;
  font-size: toRem(18px);
  margin-bottom: toRem(4px);
}

.analytic__counter {
  font-size: toRem(14px);
}

.analytic__charts {
  margin-top: toRem(40px);
  display: flex;
  gap: toRem(30px);
  flex-direction: column;

  @include screen(lg) {
    margin-top: toRem(100px);
    flex-direction: row;
  }
}

.chart__box {
  flex: 1;
}

.inventory__table {
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    padding: toRem(8px);
    text-align: left;
    border-bottom: toRem(1px) solid #ddd;
  }

  @include screen(md) {
    width: toRem(800px);
  }
}

.inventory__form, .inventory__form-group {
  display: flex;
  align-items: center;
  gap: toRem(16px);
}

.inventory__form-group {
  width: 100%;

  .input {
    flex: 1;
  }
}
